window {
    background-image: url('/home/maxb/.local/share/edpad/edpad.png');
    background-repeat: no-repeat;
    background-position: center;
    /*opacity: 0.0;*/
}

image {
    -gtk-icon-transform: scale(2.5);
}

* {
    background: alpha (#000000, 0.0);
}

#topbox * {
    border-style: none;
}

#route_tv {
    font-size: 22px;
    background: #101030;
}

#route_tv text {
    color: #0000ff;
}


#info_tv {
    font-size: 22px;
}

#info_tv text {
    color: #ff0000;
}

#stack_switcher button {
    margin: 5px;
    box-shadow: 7px 5px 3px black;
    border-radius: 15px;
    border-style: none;
    color: #ffaa00;
    background: #552200;
    font-weight: bold;
    font-size: 20px;
    opacity: 0.5;
}

#stack_switcher button:checked {
    color: #eeeeee;
    background: #ff9900;
    opacity: 0.6;
}

#system_tv,
#planets_tv,
#signals_tv,
#srv_tv {
    font-size: 22px;
}

#system_tv text,
#planets_tv text,
#signals_tv text,
#srv_tv text {
    color: #aaaaaa;
}

#keypad {
    border-radius: 4px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    background: #000000;
    border-color: #ffaa00;
    color: #FFFFFF;
    opacity: 0.50;
}

#keypad button {
    color: #aa0000;
    font-weight: bold;
    font-size: 20px;
}

