window {
    background-image: url('@SHAREDIR@/edpad2.png');
    background-repeat: no-repeat;
    background-position: center;
    /*opacity: 0.0;*/
}

image {
    -gtk-icon-transform: scale(2.5);
}

* {
    color: #ffffff;
    background: alpha (#000000, 0.0);
}

#topbox * {
    border-style: none;
}

#route_tv {
    font-size: 26px;
    font-weight: bold;
    background: alpha (#000000, 0.50);
}

#route_tv text {
    color: #c0c000;
}


#info_tv {
    background: alpha (#000000, 0.50);
    font-size: 24px;
    font-weight: bold;
}

#info_tv text {
    color: #ff0000;
}

#stack_switcher button {
    margin: 5px;
    box-shadow: 7px 5px 3px #505050;
    border-radius: 15px;
    border-style: none;
    border-color: #ffffff;
    color: #ffffff;
    background: #8080b0;
    font-weight: bold;
    font-size: 20px;
    opacity: 0.3;
}

#stack_switcher button:checked {
    background: #c0c0ff;
    opacity: 0.6;
}

#system_tv {
    font-size: 30px;
    background: alpha (#000000, 0.30);
}

#planets_tv {
    font-size: 26px;
    background: alpha (#000000, 0.30);
}

#signals_tv {
    font-size: 26px;
    background: alpha (#000000, 0.30);
}

#srv_tv {
    font-size: 26px;
    background: alpha (#000000, 0.30);
}

#system_tv text,
#planets_tv text,
#signals_tv text,
#srv_tv text {
    color: #cccccc;
}

#keypad {
    border-radius: 4px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    background: #000000;
    border-color: #ffaa00;
    color: #FFFFFF;
    opacity: 0.50;
}

#keypad button {
    color: #aa0000;
    font-weight: bold;
    font-size: 20px;
}

