window {
    background-image: url('@SHAREDIR@/edpad2.png');
    background-repeat: no-repeat;
    background-position: center;
    /*opacity: 0.0;*/
}

image {
    -gtk-icon-transform: scale(2.5);
}

* {
    color: #ffffff;
    background: alpha (#000000, 0.0);
}

#topbox * {
    border-style: none;
}

#route_tv {
    font-size: 26px;
    font-weight: bold;
    font-family: "go mono";
    background: alpha (#000000, 0.30);
}

#route_tv text {
    color: #c0c0c0;
}


#info_tv {
    background: alpha (#000000, 0.30);
    font-size: 24px;
    font-family: "go mono";
    font-weight: bold;
}

#info_tv text {
    color: #ff0000;
}

#stack_switcher button {
    margin: 3px;
    /*
    border-style: solid;
    border-width: 3px 0px 0px 2px;
    border-color: #000000;
    box-shadow: 7px 5px 3px #909090;
    */
    border-style: none;
    border-radius: 10px;
    background: #7070a0;
    font-weight: bold;
    opacity: 0.7;
}

#stack_switcher button.needs-attention {
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: #FFFF00;
    box-shadow: 7px 5px 3px #000000;
}


#stack_switcher label {
    font-family: "go mono";
    font-size: 25px;
    color: #000000;
}

#stack_switcher button:checked {
    background: #a0a0dd;
    opacity: 0.9;
}

#system_tv {
    font-family: "noto sans mono";
    font-size: 30px;
    background: alpha (#000000, 0.30);
}

#planets_tv {
    font-size: 26px;
    font-family: "noto sans mono";
    background: alpha (#000000, 0.30);
}

#signals_tv {
    font-size: 25px;
    font-family: "noto sans mono";
    background: alpha (#000000, 0.30);
}

#notes_tv {
    font-size: 25px;
    font-family: "noto sans mono";
    background: alpha (#000000, 0.30);
}

#system_tv text,
#planets_tv text,
#signals_tv text,
#notes_tv text {
    color: #c0c0c0;
}

#keypad {
    border-style: solid;
    background: alpha (#000000, 0.80);
}

#keypad button {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: #aaaaaa;
    font-weight: bold;
    font-size: 20px;
}

#numbox button {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    background: alpha (#ffff00, 0.4);
    font-family: "free mono";
    font-size: 35px;
}

#numbox button:active {
    background: alpha (#ffff00, 0.6);
}

#navbox button#w,
#navbox button#s,
#navbox button#a,
#navbox button#d {
    margin: 5px;
    font-size: 30px;
    background: alpha (#ffffff, 0.4);
}

#navbox button#w:active,
#navbox button#s:active,
#navbox button#a:active,
#navbox button#d:active {
    margin: 5px;
    background: alpha (#ffffff, 0.6);
}


#navbox button#space {
    margin: 10px;
    font-size: 30px;
    background: alpha (#ff90ff, 0.4);
}

#navbox button#space:active {
    background: alpha (#ff90ff, 0.6);
}


#navbox button#e,
#navbox button#q {
    margin: 10px;
    font-size: 30px;
    background: alpha (#90ffff, 0.4);
}

#navbox button#e:active,
#navbox button#q:active {
    background: alpha (#90ffff, 0.6);
}

#buttonsbox button#esc {
    background: alpha (#ff0000, 0.4);
}

#buttonsbox button#esc:active {
    background: alpha (#ff0000, 0.6);
}

#buttonsbox button {
    margin: 5px;
    background: alpha (#ffffff, 0.4);
}

#buttonsbox button:active {
    background: alpha (#ffffff, 0.6);
}

